.rounded-top-30{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.rounded-bottom-30{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rounded-30{
  border-radius: 30px;
}

h2{
  font-size: 15vw;
}

h4{
  font-size: 5vw;
}

.carousel-inner{
  height: 100%;
}

#bg, #logo, #logo_image ,#login ,#form{
  transition: all 1s 0.3s;
}